.bookmark__jezyki{
    background-image: url("../images/jezyk.png");
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    padding: 8vh 5vw;
}

.bookmark__header{
    font-size: 120px;
    text-transform: uppercase;
    margin: 0;
}

@media (max-width: 1190px){
    .bookmark__header{
        font-size: 10vw;
    }
}

.bookmark__header::after,
.bookmark__header::before{
content: " - ";
font-weight: normal;
}