.main-banner-add_question{
    background: url("../images/start_optimized.jpg");
    height: 300%;
    background-position: center center;

    display: flex;
    justify-content: center;
   
    
}
    .forma{
        height: 28vh;
        padding: 0vw;
        background-position: center;
    }