.main-navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.main-navigation__logo-image{
    width: 350px;
    margin-right: 10px;
}
@media (max-width: 360px){
    .main-navigation__logo-image{
        width: 260px;
        margin-left: 5px;
    }
}

.main-navigation__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto;
}

.main-navigation__quizy{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 1s;
    transition-property: opacity, transform;
}
@media (max-width: 991px){
.main-navigation__quizy{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
}
}

@media (max-width: 991px){
    .main-navigation__quizy--open{
        opacity: 1;
        pointer-events: unset;
        transform: unset;
    }
}

.main-navigation__quizy-item{
    margin-left: 50px;
    padding: 5px 0;
}
@media (max-width: 1124px){
    .main-navigation__quizy-item{
        margin-left: 30px;
    }
}
@media (max-width: 991px){
    .main-navigation__quizy-item{
        margin-left: 0;
    }
}


.main-navigation__quizy-item:hover{
    border-bottom: 2px solid white;
}
@media (max-width: 991px){
    .main-navigation__quizy-item:hover{
        border-bottom: unset;
    }
}

.main-navigation__link{
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 991px){
    .main-navigation__link{
        font-size: 30px;
    }
}

.main-navigation__mobile-button{
    display: none;
}

@media (max-width: 991px){
    .main-navigation__mobile-button{
        display: unset;
        background: none;
        border: none;
        padding: 0;
    }
}
@media (max-width: 991px){
    .main-navigation__mobile-button-image{
      width: 30px;
      display: block;
    }
}
