.main-banner-add_question{
    background: url("../images/start_optimized.jpg");
    height: 140vh;
    background-position: center center;

    display: flex;
    justify-content: center;
    
}
.forma{
    height: 23vh;
    padding: 0vw;
    background-position: center;
    
}