.main-banner-register{
    background: url("../images/start.jpg");
    height: 90vh;
    background-position: center center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}