.pytanie{
    background-color: #ccc;
    width: 700px;
    height: auto;
    
    border: 2px solid blue;

    box-sizing: border-box;
    border-radius: 4px;

    margin: 5px;
}
@media(max-width: 760px){
    .pytanie{
        width: 340px;
        margin: 0;
    }
}

.nrpytania{
    background-color: #ccc;
    width: 100px;
    height: auto;

    border: 2px solid green;

    box-sizing: border-box;
    border-radius: 4px;

    margin: 5px;
}